.App {
  text-align: center;
}

.menu{
  display:flex;
  justify-content: center;

}
.musica_texto{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size: 20px;
  color: white;
  
}
IMG.album_capa{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:40px;
  background:none;
  border-radius: 10px;
  border:2px solid white;
  box-shadow: 2px 2px 10px  white;
  width: 270px;
  height: 300px;

}
.album_texto{
  display:flex;
  justify-content:center;
  font-family:'Courier New', Courier, monospace;
  font-size:15px; 
  color:white; 
  margin-bottom:5px; 
}
.album_capa{
  text-align:center; 
  width: 250px;
  height: 300px;
}

.heart{
  background:none;
  border-radius:50px;
  border: 2px solid white;
  color:white;
  font-weight: bold;
  margin-top:1px; 
  transition: all 0.2s;
  

}

.heart:hover{
  background:white;
  color:gray;
  box-shadow: 2px 2px 10px  white;
}

.dots{
  background:none;
  border-radius: 50px;
  border: 2px solid rgb(107, 106, 106);
  color:white;
  transition: all 0.2s;
}
.dots:hover{
  background:white;
  color:gray;
  box-shadow: 2px 2px 10px  white;
  border: 1px solid white;

}

.menu_inferior{
  
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}


.play{
  display:flex;
  justify-content: space-around;
  margin-top:10px;
  margin-bottom: 30px;
  
}

.progressobarra{
  margin-top: 15px;
  margin-bottom:40px; 
  display:flex;
  justify-content: center;
}
 

body{
  background-image: linear-gradient(to bottom right, black, rgb(138, 138, 138));
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
